{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}
<h2><ins>Sobre mi:</ins></h2>
Hola, mi nombre es Juan Pablo Peralta Juárez.
<p>
    Este es mi primer curso en el ambito de la programación y mi primer pagina web creada, me decidi por estudiar esto para hacer un cambio de rumbo en mi vida ya que venia trabajando en un rubro totalmente distinto y tenia curiosidad en todo lo que se relaciona a sistemas.
    la verdad es que me encanto el curso, aprendi muchisimo y entendi bastante rapido, voy a seguir estudiando para completar la rama de paginas web y luego seguir porque me fascina mucho. Me decidi por hacer un sitio web con posteo de vehiculos porque me encantan los autos, tambien los aviones y helicopteros, ya tengo mentalizado que hacer para agrandar la pagina y seguir practicando.
</p>
Muchas gracias por visitar mi sitio web, espero que les haya gustado y hayan podido subir sus vehiculos favoritos. Saludos.
{% endblock %}