{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}


{% if form %}
<h1>Administracion de vehiculos:</h1>
    <form action="{% url 'Vehiculos agregados' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Agregar">
    </form>
{% else %}
<h1>Resultados de la busqueda:</h1>
{% endif %}
    <ul>
        {% for americano in americanos %}
        <li>{{americano.id}} - {{americano.marca_de_vehiculo}} - {{americano.modelo_de_vehiculo}} - {{americano.motor}}</li>
        {% endfor %}
    </ul>

{% endblock %} 