{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}


{% if form %}
<h1>Lista de vehiculos Japoneses:</h1>
    <form action="{% url 'Vehiculos japoneses agregados' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Agregar">
    </form>
{% else %}
<h1>Resultados de la busqueda:</h1>
{% endif %}
    <ul>
        {% for japones in japones %}
        <li>{{japones.id}} - {{japones.marca_de_vehiculo}} - {{japones.modelo_de_vehiculo}} - {{japones.motor}}</li>
        {% endfor %}
    </ul>

{% endblock %} 