{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}


{% if form %}
<h1>Lista de vehiculos Americanos:</h1>
    <form action="{% url 'Vehiculos americanos agregados' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Agregar">
    </form>
{% else %}
<h1>Resultados de la busqueda:</h1>
{% endif %}
    <ul>
        {% for Vehiculos in Vehiculos %}
        <li>{{Vehiculos.marca_de_vehiculo}} - {{Vehiculos.modelo_de_vehiculo}} - {{Vehiculos.valor_vehiculo_usd}}</li>
        {% endfor %}
    </ul>

{% endblock %} 
