{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenido</h1>
        <p class="lead text-white">En este sitio web podras subir los vehículos que te gusten ya sean de origen Americano, Europeo y/o Japones.</p>
        <!-- <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> -->
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for vehiculo in vehiculos %}
              <div class="col">
                  <div class="card shadow-sm bg-dark-subtle">
                  <a style="text-decoration: none;">
                      <img class="card-img-top" alt="Card image top" src="{{vehiculo.imagen_url}}"></img>
                  </a>
                      <div class="card-body">
                      <p class="text-dark">{{vehiculo.marca_de_vehiculo}}</p>
                      <hr>
                      <p class="text-dark">{{vehiculo.modelo_de_vehiculo}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        {% if user.is_authenticated and user.id == vehiculo.publicador.id %}
                          <a href="{% url 'vehiculos-delete' vehiculo.id %}" type="button" class="btn btn-outline-danger btn-sm">Borrar</a>
                          <a href="{% url 'vehiculos-update' vehiculo.id %}" type="button" class="btn btn-outline-primary btn-sm">Actualizar</a>
                        {% endif %}
                          <a href="{% url 'vehiculos-detail' vehiculo.id %}" type="button" class="btn btn-outline-primary btn-sm">Detalles</a>
                      </div>
                      <small class="text-dark">{{vehiculo.valor_vehiculo}}</small>
                      </div>
                  </div>
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
  </div>
</main>
{% endblock %}