{% extends "CarsApp/base.html" %}
{% load static %}

{% block main %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenido</h1>
        <p class="lead text-white">En este sitio web podras subir los vehículos que te gusten ya sean de origen Americano, Europeo y/o Japones.</p>
        <!-- <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> -->
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
              <a style="text-decoration: none;" href="{% url 'vehiculos-list' %}">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2023/performance/camaro/01-images/colorizer/coupe/2023-camaro-2ss-g7c-colorizer.jpg?imwidth=960"></img>
              </a>
                <div class="card-body">
                <p class="text-dark">El Chevrolet Camaro es un automóvil deportivo de dos puertas, con motor delantero montado longitudinalmente y de tracción trasera, producido por el fabricante estadounidense Chevrolet, división de General Motors (GM) desde 1966.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <!-- <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div> -->
                  <!-- <small class="text-muted">9 mins</small> -->
                </div>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://acnews.blob.core.windows.net/imgnews/medium/NAZ_70488a7e0e694372b256aecb5fcc481e.jpg"></img>
            </a>
            <div class="card-body">
              <p class="text-dark">El Volkswagen Vento Starline Manual 2020 cuenta con 4 cilindros, disposición de los cilindros en línea, una potencia de 105 hp / 5250 rpm que puede alcanzar una velocidad de hasta 240 km/hr.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/toyota-supra-2-0l-turbo-2020-1600-01-1579020934.jpg"></img>
            </a>
            <div class="card-body">
              <p class="text-dark">El Toyota Supra es un automóvil deportivo hatchback de 3 puertas con motor delantero montado longitudinalmente de tracción trasera, producido por el fabricante japonés Toyota desde 1978 hasta la actualidad. Hubo una pausa desde 2002 hasta su reinicio en 2019.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="{% url 'vehiculos-list' %}">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://static.cargurus.com/images/forsale/2022/06/30/08/46/1968_dodge_charger-pic-6751606074304769180-1024x768.jpeg"></img>
            </a>
            <div class="card-body">
              <p class="text-dark">El Dodge Charger es un automóvil deportivo de tamaño mediano, producido por el fabricante estadounidense Chrysler y vendido bajo la división Dodge, de 1966 a 1978. Estaba basado en la plataforma "B-body" de Chrysler, la misma que compartía con el Dodge Coronet y con los Plymouth medianos como el Plymouth Satellite y el Belvedere.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://upload.wikimedia.org/wikipedia/commons/9/96/VW_K%C3%A4fer_Baujahr_1966.jpg"></img>
            </a>
              <div class="card-body">
              <p class="text-dark">El Volkswagen "Tipo 1" es un popular automóvil del segmento A producido por el fabricante alemán Volkswagen entre 1938 y 2003, convirtiéndose en uno de los automóviles más populares del mundo. Fue comercializado por la marca con nombres como Sedan o Fusca, habiendo adoptado posteriormente el nombre popular Escarabajo debido a su forma.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://i2.wp.com/www.iconroad.es/wp-content/uploads/2017/02/Iconos-Mazda-MX-5-00-1.jpg?fit=2048%2C1433&ssl=1"></img>
            </a>
              <div class="card-body">
              <p class="text-dark">La primera generación del MX5 salió a la venta en 1989 con motores de 1.6 L que desarrollaban 115 CV. Posteriormente en el año 1994 se sacó al mercado una versión más potente de 133 CV y 1.8 L, y ese mismo año se lanzó un motor 1.6 L de 90 CV. Esta versión de 90 CV no se comercializó en Estados Unidos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="{% url 'vehiculos-list' %}">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/media/267321/1990-jeep-wrangler-sahara-photo-557728-s-original.jpg"></img>
            </a>
            <div class="card-body">
              <p class="text-dark">El Wrangler abarca cuatro generaciones distintas, denominadas internamente YJ, TJ, JK y JL, lanzadas en los años 1987, 1997, 2007 y 2017 respectivamente. Desde 1987 hasta 1992 el Wrangler fue fabricado en Brampton, Ontario, Canadá, desde cuando el Wrangler se fabrica en Toledo (Ohio), Estados Unidos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://archivodeautos.files.wordpress.com/2014/02/mercedes-g-01.jpg"></img>
            </a>
            <div class="card-body">
              <p class="text-dark">El Mercedes-Benz Clase G es un automóvil todoterreno de lujo desarrollado en conjunto por la empresa alemana Mercedes-Benz la austríaca Steyr-Daimler-Puch —ahora Magna Steyr— y fabricado desde el año 1978. Muchos expertos lo consideran el mejor todoterreno del mercado. Se usa ampliamente como vehículo militar, de paseo y anteriormente también Papamóvil.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a style="text-decoration: none;" href="#">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"src="https://s1.1zoom.me/big0/623/Toyota_Land_Cruiser_448476.jpg"></img>
            </a>
              <div class="card-body">
              <p class="text-dark">El Toyota Land Cruiser es una serie de vehículos utilitarios (SUV) y todoterreno producidos por el fabricante japonés de automóviles Toyota desde el año 1951. Es el modelo en serie más antiguo de Toyota en producción.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}